<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://register2.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>register2.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>register2</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$register2</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:qcyewgr4a8.database.windows.net,1433;Initial Catalog=register2_db;User ID=saubhik@qcyewgr4a8;Password=Qwqwqw!@#$%" Name="Data Source=tcp:qcyewgr4a8.database.windows.net,1433;Initial Catalog=register2_db;User Id=saubhik@qcyewgr4a8;Password=Qwqwqw!@#$%" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:qcyewgr4a8.database.windows.net,1433;Initial Catalog=register2_db;Integrated Security=False;User ID=saubhik@qcyewgr4a8;Password=Qwqwqw!@#$%;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:qcyewgr4a8.database.windows.net,1433;Database=register2_db;User ID=saubhik@qcyewgr4a8;Password=Qwqwqw!@#$%;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SqlConnection1" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:qcyewgr4a8.database.windows.net,1433;Initial Catalog=register2_db;User ID=saubhik@qcyewgr4a8;Password=Qwqwqw!@#$%" Name="Data Source=tcp:qcyewgr4a8.database.windows.net,1433;Initial Catalog=register2_db;User Id=saubhik@qcyewgr4a8;Password=Qwqwqw!@#$%" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Customer_Registration-20150428210915.mdf;Initial Catalog=aspnet-Customer_Registration-20150428210915;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SqlConnection1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Customer_Registration-20150428210915;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Customer_Registration-20150428210915.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qcyewgr4a8.database.windows.net,1433;Initial Catalog=register2_db;User Id=saubhik@qcyewgr4a8;Password=Qwqwqw!@#$%</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SqlConnection1-Web.config Connection String">
      <ParameterValue>Data Source=tcp:qcyewgr4a8.database.windows.net,1433;Initial Catalog=register2_db;User Id=saubhik@qcyewgr4a8;Password=Qwqwqw!@#$%</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>